     <div id="edutacion_and_employment_template">
        <% if element.education_and_employment_employment and element.education_and_employment_employment.strip.length > 0 %>
          <div><span class="profile_literal"><%= t.education_and_employment.employment%></span> <%=element.education_and_employment_employment%></div>      
        <% end %>
        <% if element.education_and_employment_education and element.education_and_employment_education.strip.length > 0 %>
          <div><span class="profile_literal"><%= t.education_and_employment.education%></span> <%=element.education_and_employment_education%></div>      
        <% end %>
     </div>
